/*General*/
a{
    color:black;
}
.Login{
    text-align: center;
}
body{
    background-color: white;
    text-align:center;
}
p{
    text-align:left;
}
#d-flex{
    margin-right:20px;
}
/*HomePage*/
.homebody {
    background-color: rgb(0, 0, 0, 0.10);
    padding: 10%;
    padding-bottom: 100%;
    margin-right: -100px;
    margin-left: -100px;
    text-align: center;
}
.pageheader {
    background-color: white;
    padding: 10%;
    padding-bottom: 0px;
    margin-right: -100px;
    margin-left: -100px;
}
/*BlogsIndex*/
table {
    background-color: rgb(0, 0, 0, 0.10);
    height: 300px;
    border: solid;
}
/*BlogsCreate*/
/*BlogsDetail*/
.eventDetails {
    background-color: rgb(0, 0, 0, 0.10);
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    border: solid;
}
.post {
    background-color: rgb(0, 0, 0, 0.20);
}
/*BlogsDelete*/
/*EventsIndex*/
#indexdetail{
    background-color: cornflowerblue;
}
/*EventsCreate*/
/*EventsDetail*/
.DetailsEvent {
    border: solid;
    background-color: rgb(0, 0, 0, 0.10);
}
/*EventsDelete*/
/*ParticipantsIndex*/
/*ParticipantsCreate*/
/*ParticipantsDetail*/
/*ParticipantsDelete*/

